.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-weight: bold;
}

.card-title-custom {
    background-color: #97C99D;
}

.chart-title:hover {
    cursor: pointer;
}

.card-chart {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.fade-in {
    animation: fadeIn 1s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
